.page {
  padding: 48px 80px 69px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.user {
  padding: 36px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;
  box-sizing: border-box;
  max-width: 305px;
  min-height: 263px;
  width: 100%;
  border-radius: 10px;
  background: var(--primaryWhite);
  box-shadow: 0px 1px 4px 0 rgba(21, 19, 23, 0.1);
  cursor: pointer;
}

.avatar {
  width: 124px;
  height: 124px;
}

.image {
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-size: 20px;
}

.like {
  background-image: url("../../images/like.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 28px;
  cursor: pointer;
  align-self: flex-end;
  border: 0;
  border-radius: 4px;
  background-color: var(--greyLight);
}

.button {
  margin: 24px auto 0;
}

.button__image {
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__image img {
  height: 100%;
  object-fit: contain;
}

@media (max-width: 790px) {
  .page {
    padding: 32px 35px;
  }

  .button {
    margin-top: 32px;
  }
}
